body {
  background-color: #D3D3D3;
}

.blogg-post {
  margin: 0 auto;
  margin-bottom: 100px;
  background-color: #fff;
  border-radius: 15px 50px 30px;
  padding: 25px;
  @media screen and (max-width: 800px) {
    padding: 25px;
  }
  
}

.top-image {
  width: 200px;
  height: 200px;
  background-color: #00f;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  font-weight: lighter;
}

p {
  font-weight: lighter;
}

.post-image {
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
}
